# FUNCTION

## Apa Itu Function?
* Function adalah block code yang terorganisir yang berisi statement-statement ataupun operasi aritmatik yang dibuat untuk melakukan solve problem.
* Function juga bersifat reusable, atau dapat dipanggil Kembali, sehingga kita dapat menghindari penulisan ulang
( DRY – don’t repeat yourself ) .
* Fungsi juga dapat menerima argument atau parameter untuk digunakan dalam block kode yang dibuat.

In [ ]:
def hello_world():
    print("hello wold")

Cara memanggil function `nama_function()`

In [ ]:
hello_world()

hello wold

In [ ]:
def perkenalan(nama, umur):
    print(f"perkenalkan saya {nama}, saya berumur {umur}")

In [ ]:
perkenalan("Suyitno")

TypeError: ignored

### function dengan return keyword

return keywoard digunakan agar kita bisa menyimpan value yang di return ke dalam variable, sedangkan print hanya melakukan show value

In [ ]:
# function print
def perkenalan(nama, umur):
    print(f"perkenalkan saya {nama}, saya berumur {umur}")


# function return
def perkenalan_return(nama, umur):
    return f"perkenalkan saya {nama}, saya berumur {umur}"

In [ ]:
greeting = perkenalan_return("ranggo", 25)
greet = perkenalan("ranggo", 25)

perkenalkan saya ranggo, saya berumur 25

In [ ]:
print(greet + " saya hobby catur")

TypeError: ignored

In [ ]:
print(greeting + " saya hobby catur")

perkenalkan saya ranggo, saya berumur 25 saya hobby catur

Multiple return

In [ ]:
def bilangan(x):
    angka_prima = True
    if (x == 0) or (x == 1):
        angka_prima = False
    else:
        for i in range(2, (x // 2)):
            if (x % i) == 0:
                angka_prima = False
                break

    if angka_prima:
        return angka_prima, f"{x} adalah angka prima"
    else:
        return angka_prima, f"{x} bukan angka prima"

In [ ]:
bilangan(7)

(True, '7 adalah angka prima')

In [ ]:
is_prima, detail = bilangan(114)
print(is_prima)
print(detail)

False
114 bukan angka prima

In [ ]:
def bilangan_ganjil(x):
    if x % 2 == 1:
        return x, f"{x} adalah bilangan ganjil"
    else:
        return x, f"{x} adalah bilangan genap"


angka, ganjil_or_genap = bilangan_ganjil(13)
print(angka)
print(ganjil_or_genap)

13
13 adalah bilangan ganjil

## Function Arguments
* Default arg
* Keywoard arg
* Position arg
* **args
* **kwargs

In [ ]:
# default argument
def perkenalan(nama, umur=25):
    print(f"perkenalkan saya {nama}, saya berumur {umur}")

In [ ]:
perkenalan("ranggo")
perkenalan("ranggo", 23)

perkenalkan saya ranggo, saya berumur 25
perkenalkan saya ranggo, saya berumur 23

In [ ]:
def perkenalan(nama, umur):
    print(f"perkenalkan saya {nama}, saya berumur {umur}")


# keywoard argument
perkenalan(umur=20, nama="ranggo")
# positional argument
perkenalan(18, "Budi")

perkenalkan saya ranggo, saya berumur 20
perkenalkan saya 18, saya berumur Budi

In [ ]:
# positional argument tidak boleh ada setelah keywoard argument
perkenalan("ranggo", umur=20)

perkenalkan saya ranggo, saya berumur 20

In [ ]:
# keywoard argument only
def square(*, a, b):
    value = a**b
    return value

In [ ]:
x = square(6, 9)

TypeError: ignored

In [ ]:
x = square(a=6, b=9)
print(x)

10077696

In [ ]:
# positional argument only
def penjumlahan(a, /, b):
    value = a + b
    return value

In [ ]:
penjumlahan(5, b=8)

13

*args

In [ ]:
# total penjumlahan seluruh argument
def total_penjumlahan(a, *args):
    s = 0
    for x in args:
        s = s + x
    return s - a


total = total_penjumlahan(1, 2, 3)
print(total)

total = total_penjumlahan(1, 2, 3, 4)
print(total)

4
8

In [ ]:
def bilangan_ganjil(*args):
    ganjils = []
    for x in args:
        if x % 2 == 1:
            ganjils.append(x)
    return ganjils


print(bilangan_ganjil(1, 2, 3, 4, 5, 6, 7, 8, 8, 1, 2, 3, 5))

[1, 3, 5, 7, 1, 3, 5]

**kwargs

In [ ]:
def alamat_detail(**kwargs):
    for k, v in kwargs.items():
        print(f"{k} : {v}")


alamat_detail(Nama="Sukijan", Kota="Solo")
alamat_detail(Nama="Yoga", Kota="Padang", Provinsi="Sumatera Barat")

Nama : Sukijan
Kota : Solo
Nama : Yoga
Kota : Padang
Provinsi : Sumatera Barat

In [ ]:
def buah_fav(**kwargs):
    if "buah" in kwargs:
        print(f"buah favorite saya adalah {kwargs['buah']}")
    else:
        print("buah favorite saya adalah mangga")


buah_fav(buah="apel")

buah favorite saya adalah apel

## Function Annotations
* Anotasi di python membantu untuk menentukan type data argument dan juga type dari return function.
* Walaupun saat runtime anotasi akan diabaikan, tetapi apabila menggunakan IDEs dapat membantu sebagai pengecek.

In [ ]:
def perkalian(a: int, b: int):
    return a * b


perkalian(8, 9.9)

79.2

In [ ]:
def penjumlahan(a: int, b: int) -> int:
    return a * b


penjumlahan(8, "aaa")

'aaaaaaaaaaaaaaaaaaaaaaaa'

## Lambda Expression, Map, dan Filter
* Map, digunakan untuk memetakan function ke object yang iterable seperti list.
* Lambda exp digunakan untuk membuat fungsi "anonim". Sehingga  dapat dengan cepat membuat function tanpa perlu mendefinisikan function dengan benar menggunakan def.
* Filter, digunakan melakukan iterable dan melakukan function check sehingga mengembalikan list baru dengan kondisi yang di tetapkan.

In [ ]:
list_angka = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# map
def pangkat(num):
    return num**2

In [ ]:
map(pangkat, list_angka)

In [ ]:
list(map(pangkat, list_angka))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
def genap_ganjil(num):
    if num % 2 == 0:
        return "genap"
    else:
        return "ganjil"

In [ ]:
list(map(genap_ganjil, list_angka))

['ganjil',
 'genap',
 'ganjil',
 'genap',
 'ganjil',
 'genap',
 'ganjil',
 'genap',
 'ganjil']

In [ ]:
# filter
def genap(num):
    return num % 2 == 0

In [ ]:
list(filter(genap, list_angka))

[2, 4, 6, 8]

In [ ]:
# lambda expression
def pangkat(num):
    return num**2

In [ ]:
def pangkat2(num):
    return num**2

In [ ]:
pangkat(3)
pangkat2(3)

9

In [ ]:
pangkat3 = lambda num: num**2

In [ ]:
pangkat3(3)

9

In [ ]:
def pangkat_n(n):
    return lambda a: a**n

In [ ]:
pangkat_7 = pangkat_n(7)
print(pangkat_7(99))

93206534790699